<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rhumeriedechamarel.com/wp-content/uploads/2015/10/SPECIALS_banner.jpg);">
    <h1>Mister Cocktail</h1>
</div>

<div class="container cards">
    <% @cocktails.each do |cocktail| %>
  <div class="card-category">
  <h2> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h2>
  </div>
  <% end %>
</div>

