.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  border: 1px solid white;
}

.btn-flat:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.btn-flat-2 {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid black;
}

.btn-flat-2:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.delete {
  color: gray;
  text-decoration: none;
  padding-left: 15px;
}
